div#map {
    height: 500px;
}
h2 {
color: #90c14f !important;
}
table#table_priority_actions{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap: break-word; 
  word-break: break-word;
}
.dt-buttons {
    padding: 10px 0px;
}

#help-text {
    position: absolute;
    bottom: 5%;
    left: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    text-align: center;
    display: none;
    font-family: "Maven Pro";
    font-size: 1.5em;
    z-index: 500;
	color: #fff;
}
#country-help-text {
    position: absolute;
    bottom: 15%;
    left: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    text-align: center;
    display: none;
    font-family: "Maven Pro";
    font-size: 1.5em;
    z-index: 500;
	color: #fff;
}
div#table_priority_actions_filter {
    padding: 14px 0px;
}
div#table_priority_actions_filter label {
    margin-bottom: 0px;
}

#table_priority_actions tbody tr.selected{
  background-color: yellow;
}

div#map-legend-container {
    position: absolute;
    z-index: 500;
    background: #ffffff85;
    margin: 10px;
}
div#toggle-button-container {
    position: absolute;
    z-index: 500;
    background: #ffffff85;
    margin: 10px;
	right: 0;
}
.pop-summary {
    text-align: center;
}
.mapboxgl-popup-content {
    background: #ffffffde;
    border-radius: 10%;
}