{{ attach_library( 'biopama_priority_actions/biopama_priority_actions' ) }}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<H2>Action Component Applications</H2>
		</div>
		<div class="col-md-6 ac-filters">
			<form action="" method="get" id="" accept-charset="UTF-8">
			  <div class="form-row">
				<fieldset class="js-form-item form-group col-auto">
					<button class="btn btn-info" type="button" id="reset_filters">Global (ACP)</button>
				</fieldset>
				<fieldset class="js-form-item js-form-type-select form-type-select col-auto">
					<select id="ac-region" name="region" class="form-select form-control">
					  <option value="All" selected="selected">Region</option>
					</select>
				</fieldset>
				<fieldset class="js-form-item js-form-type-select form-type-select col-auto">
					<select id="ac-country" name="country" class="form-select form-control">
					  <option value="All" selected="selected">Country</option>
					</select>
				</fieldset>
{#
/**
				<fieldset class="js-form-item js-form-type-select form-type-select col-auto">
					<select id="ac-wdpa" name="wdpa" class="form-select form-control">
					  <option value="All" selected="selected">Protected Area</option>
					</select>
				</fieldset>
 */
#}
			  </div>			
			</form>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="map">
				<div id="country-help-text" style="display: none;">Click a country to see the summary.</div>
				<div id="help-text" style="display: block;">Double-click to pan and zoom the map.</div>
				<div id="map-legend-container">
					<div id="map-legend"></div>
					<div id="app-sum-legend" style="display: none;">
						<H2># of applications</H2>
						<H6>Total Funding (Euro)</H6>
					</div>
				</div>
				<div id="toggle-button-container">
					<button id="regional-sum" class="btn btn-secondary" type="button">
						Regional Summary
					</button> 
					<button id="country-sum" class="btn btn-secondary" type="button">
						Country Summary
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="table_priority_actions" class="table compact stripe hover row-border">
				<thead>
					<tr>
						<th>Region</th>
						<th>Country</th>
						<th>Priority Area</th>
						<th>WDPA ID</th>
						<th>Lead Applicant</th>
						<th>Diagnostic Tool</th>
						<th>Priority Activities</th>
						<th>Amount Requested</th>
						<th>ISO3</th>
					</tr>
				</thead>
				<tbody>
				</tbody>				
			</table>
		</div>
	</div>
</div>